KAFKA_BROKER=
SECURITY_PROTOCOL=sasl_ssl
SASL_MECHANISM=PLAIN
SASL_USERNAME=
SASL_PASSWORD=
SESSION_TIMEOUT=45000

SCHEMA_REGISTRY_URL=
SCHEMA_REGISTRY_API_KEY=
SCHEMA_REGISTRY_SECRET_KEY=
PYTHONDONTWRITEBYTECODE=1